.container {
  width: 2em;
  height: 2em;
  display: block;
  float: left;
  position: absolute;
  transition: 1s;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  padding: 2px;
  background: transparent;
  border: 0;
}

.inside {
  background-color: map(colors, red, caribe);
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  & .image {
    width: 100%;
    height: 100%;
    transition: opacity .4s;
    display: block;
  }
}

.current {
  & .inside {
    & .image {
      opacity: .5;
    }
  }
}