.container {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-right: 2px solid map(colors, secondary, base);

  &:last-child {
    border-right: 0;
  }
}

.name {
  background-color: map(colors, secondary, base);
  color: #fff;
  font-family: map(fonts, family-sans);
  width: 100%;
  display: block;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 1em !important;
  padding: 0.25em !important;
  font-weight: normal !important;
  box-sizing: border-box;
  transform: translateY(100%);

  @media screen and (max-width: 840px) {
    font-size: .8em !important;
  }
}