.container {
  font-family: map(fonts, family-sans);
  font-size: 16px;
  clear: fix;
  position: relative;
  display: block;

  p {
    font-size: 16px;
  }
}

.wrap {
  display: flex;
  clear: fix;

  @media only screen and (max-width: 880px) {
    display: block;
    position: relative;
    height: 26em;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 880px) {
    position: absolute;
    height: 50%;
    justify-content: space-between;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 6em;
  }
}

.button {
  background-color: map(colors, red, caribe);
  color: #fff;
  font-family: map(fonts, family-sans);
  padding: .4em 1em;
  margin: 11em 1em 11em 0;
  border-radius: .25em;
  white-space: nowrap;
  text-align: center;
  position: relative;
  font-size: .8em;
  border: 0;
  z-index: 5;

  &:hover {
    background-color: #f12d4d;
  }

  &:focus {
    outline: none;
    text-decoration: underline;
  }

  &__active,
  &__active:hover {
    background-color: #a22136;
  }

  &::after {
    content: '';
    width: 1em;
    height: 0;
    border-bottom: 2px dashed map(colors, secondary, base);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(100%);
  }

  @media only screen and (max-width: 880px) {
    margin: 0;
    transform: translateY(-50%);

    &:last-child {
      transform: translateY(50%);
    }

    &::after {
      display: none;
    }
  }

  @media only screen and (max-width: 540px) {
    padding: .2em .4em;
  }
}

.items {
  border: 2px dashed map(colors, secondary, base);
  border-bottom: 0;
  clear: fix;
  display: block;
  width: 100%;
  position: relative;

  @media only screen and (max-width: 880px) {
    height: 100%
  }
}

.cloud {
  position: relative;
  z-index: 1;
}

.boxes {
  width: 100%;
  height: 50%;
  bottom: 0;
  position: absolute;
  display: flex;
  border-top: 2px dashed map(colors, secondary, base);
}

.description {
  position: absolute;
  right: 2em;
  bottom: 2em;
  width: 100%;
  max-width: 25em;
  font-family: map(fonts, family-sans);
  font-size: .9em;
  z-index: 6;
  background-color: map(colors, secondary, light);
  border-radius: 3px;
  padding: 1em;
  box-sizing: border-box;
  transition: 1s;
  clear: fix;

  @media only screen and (max-width: 480px) {
    left: 0;
    right: 0;
    margin: auto;
    transform: inherit;
  }

  &__open {
    bottom: calc(100% - 2em);
    transform: translateY(100%);
  }

  .name {
    font-family: map(fonts, family-sans);
    font-size: 1.25em;
    display: block;
  }

  p {
    font-size: 14px !important;
  }
}

.closeButton {
  position: absolute;
  right: 1em;
  top: .75em;
  border-radius: 3px;
  padding: 0.15em 0.5em;
  font-size: .9em;
  border: 1px solid #000;
}
